<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/serv">Services</a></li>
                    <li><a routerLink="/news">News</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-6">
                <h3>Contact Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing eiusmod.</p>
                <p>
                    <label>Email:</label> hello@company.com</p>
                <p>
                    <label>Phone:</label> +375 (29) 543-76-49, +375 (29) 543-76-49</p>
                <p>
                    <label>Mail:</label> 20 Lorem ipsum do sit amet,
                    <br>6046 Larsinac, Country</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h3>Newsletter</h3>
                <p>Eiusmod tempor incididunt ut labore et dolore magna.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter E-Mail">
                    </div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
    Copyright &copy; All Rights Reserved
</div>