<div class="container">
    <div class="bannerimg">
        <img src="assets/banner.jpg" class="img-responsive">
    </div>
    <div class="row content">
        <div class="col-md-2 hidden-sm hidden-xs sidebar">
            <ul>
                <li>SERVICES</li>
                <li>AIR DELIVERY</li>
                <li>GROUND SHIPPING</li>
                <li>SEA DELIVERY</li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 main">
            <h1>WHAT WE DO</h1>
            <p>Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can
                move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with
                ​more than one paragraph for better readability. To edit, simply click directly on the text and start
                typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up
                your text with ​more than one paragraph for better readability.
            </p>
            <div class="spacer hidden-xs"></div>
            <div class="row slides">
                <div class="col-sm-4">
                    <img src="assets/p1.jpg" class="img-responsive">
                    <h2>Air delivery</h2>
                    <p>Explore the clear waters of Hanging Lake or, Lake Tahoe. Kayak with Highpeak on adventures that will
                        leave you speachless to say the least.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/p2.jpg" class="img-responsive">
                    <h2>Ground shipping</h2>
                    <p>Does free climbing down a steep mountain get your juices flowing? Embark on a hike and climb adventure
                        with our knowledgable climbing guides.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="assets/p3.jpg" class="img-responsive">
                    <h2>Sea delivery</h2>
                    <p>From high in the Seirras to up in the clouds, mountain biking with Highpeak will prove to be a challenging
                        adventure you won’t soon forget.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>